<div>
    <div class="template">
        <div class="browser">
            <div class="top">
                <div class="tab">
                        {{ page.language.content.notFound }} | {{ page.name }}
                </div>
                <div class="button"></div>
                <div class="button"></div>
                <div class="button"></div>
            </div>
            <div class="page">
                <div class="head">
                    <div class="logo"><img src="assets/logo/ro-logo.svg" width="" height=""></div>
                    <div class="nav" [style.background-color]="this.page.color.hex">
                        <div [style.color]="this.page.color.textColor">{{ page.name }}</div>
                    </div>
                </div>
                <div class="content">
                    <div class="page-title">{{ page.language.content.notFound }}</div>
                    <hr class="line" [style.color]="this.page.color.hex">
                    <div class="text">
                        <strong>{{ page.language.content.text.title }}</strong>
                        <p>{{ page.language.content.text.paragraph }}</p>
                        <ul>
                            <li><a href="#">{{ page.language.content.links.homepage }}</a></li>
                            <li><a href="#">{{ page.language.content.links.search }}</a></li>
                            <li><a href="#">{{ page.language.content.links.sitemap }}</a></li>
                        </ul>
                    </div>
                    <div class="error-type">{{ page.language.content.error }}: {{ page.type.name }}</div>
                </div>
                <div class="footer" [style.background-color]="this.page.color.hex"></div>
            </div>
        </div>
    </div>
</div>