<div>
    <div class="template">
        <div class="browser">
            <div class="top">
                <div class="tab">
                        {{ notFound }} | {{nameValue}}
                </div>
                <div class="button"></div>
                <div class="button"></div>
                <div class="button"></div>
            </div>
            <div class="page">
                <div class="head">
                    <div class="logo"></div>
                    <div class="nav">
                        {{ nameValue }}
                    </div>
                </div>
                <div class="content">
                    <div class="page-title">{{ notFound }}</div>
                </div>
                <div class="footer">
                    
                </div>
            </div>
        </div>
    </div>
</div>