<div>
  <h2>Template settings</h2>
  <div>
    <label>Page type:
      <select>
        <option *ngFor="let type of types">{{ type.name }}</option>
      </select>
    </label>
  </div>
  <div>
    <label>Page language:
      <select>
        <option *ngFor="let language of languages">{{ language.name | uppercase }}</option>
      </select>
    </label>
  </div>
  <div>
    <label>Page color:
      <select>
        <option *ngFor="let color of colors">{{ color.name }}</option>
      </select>
    </label>
  </div>
  <div>
    <label>Page name:
      <input type="text" [(ngModel)]="name" placeholder="Enter page name" />
    </label>
  </div>
</div>
