<div class="settings-form">
  <div class="setting">
    <label>Error type:</label>
    <select>
      <option *ngFor="let type of types" (click)="onSelect($event, type)" class="page-type">{{ type.name }}</option>
    </select>
  </div>
  <div class="setting">
    <label>Language:</label>
    <select>
      <option *ngFor="let language of languages" (click)="onSelect($event, language)" class="page-language">{{ language.name | uppercase }}</option>
    </select>
  </div>
  <div class="setting">
    <label>Color:</label>
    <select>
      <option *ngFor="let color of colors" class="page-color" (click)="onSelect($event, color)">{{ color.name }}</option>
    </select>
  </div>
  <div class="setting">
    <label>Name:</label>
    <input type="text" [(ngModel)]="name" (ngModelChange)="onChange(name)" placeholder="Enter page name" value="{{name}}"/>
  </div>
  <button type="button" (click)="generatePage()">{{ generateButtonText | uppercase }}</button>
</div>
